<h3>{{message}}</h3>
<h2 style="color: blue;font-size: 20px;font-family:Roboto, sans-serif;">{{success}}</h2>

<div *ngIf="dataShow" style="display: flex; align-items: center;">
  <div>
    <img src="https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=612x612&w=0&k=20&c=yBeyba0hUkh14_jgv1OKqIH0CCSWU_4ckRkAoy2p73o=" alt="" width="200px">
  </div>
  <div>
    <h4>UserName :-  <b>{{data.username}}</b></h4>
    <h4>Email :- <b>{{data.email}}</b></h4>
  </div>
</div>
